html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image:url("../Picture3.jpg");
  color: bisque;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    font-size: large;
    color: bisque;
    justify-content: center;
}

img {
    max-height: 500px;
    max-width: 350px;
    position: absolute;
    top: 1%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

H2 {
    font-size: larger;
    position: fixed;
    width: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color: bisque;
}

.caption {
    color: bisque;
    font-size: medium;
    position: absolute;
    top: 75%;
    left: 25%;
    display: block;
    transform: translate(145%, -500%);
}

.header {
    display: block;
    text-align: center;
    color: bisque;
}

.col-1 {
    width: 25%;
}

.col-2 {
    width: 25%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 25%;
}

#regForm {
    background-color: bisque;
    position: float center;
    transform: translate(0px, 50px);
    margin: 10px auto;
    width: 50%;
    color: rgb(108, 41, 41);
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}

input {
    padding: 0px;
    font-size: 17px;
    color: rgb(108, 41, 41);
}

.tab {
    display: none;
    color: rgb(108, 41, 41)
}

.table {
    color: rgb(108, 41, 41);
    background-color: bisque;
    position: float center;
    transform: translate(0px, 50px);
    margin: 10px auto;
}

.nextreadcaption {
    color: bisque;
    transform: translate(36.5%, 50%);
}

/** {
    box-sizing: border-box;
}*/

/* Float four columns side by side */
/*.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}*/

/* Remove extra left and right margins, due to padding in columns */
/*.row {
    margin: 0 -5px;
}*/

    /* Clear floats after the columns */
    /*.row:after {
        content: "";
        display: table;
        clear: both;
    }*/

/* Style the counter cards */
/*.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/ /* this adds the "card" effect */
    /*padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}*/

/* Responsive columns - one column layout (vertical) on small screens */
/*@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}*/
.card-column {
    display: inline-block;
}
