@{
    ViewData["Title"] = "About";
}

<body>
    <div>
        <h3 class="aboutme">
                <img src="../../../AboutBookpic.png" alt="Book" width="auto" height="auto" class="img-fluid" alt="Responsive image" >
        </h3>
    </div>
</body>