@model IEnumerable<Book>

<h2>YOUR NEXT READ</h2>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Characteristics</th>
    </tr>

    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Genre</td>
            <td>@book.Characteristics</td>
        </tr>

    }
</table>

