<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ThePocketLibrarian</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ThePocketLibrarian.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <H1 class="header">The Pocket Librarian</H1>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3><li><a class="nav .justify-content-center" href="/Home/Index">Home</a></li></h3>
                </div>
                <div class="col-sm-4">
                    <h3><li><a class="nav .justify-content-center" href="/Home/BookMatching">Find Your Next Read</a></li></h3>
                </div>
                <div class="col-sm-4">
                    <h3><li><a class="nav .justify-content-center" href="/Home/About">About</a></li></h3>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

