<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ThePocketLibrarian</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ThePocketLibrarian.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">The Pocket Librarian</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@
        <H1 class="header">The Pocket Librarian</H1>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3><li><a class="nav .justify-content-center" href="index.html">Home</a></li></h3>
                </div>
                <div class="col-sm-4">
                    <h3><li><a class="nav .justify-content-center" href="findyournextread.html">Find Your Next Read</a></li></h3>
                </div>
                <div class="col-sm-4">
                    <h3><li><a class="nav .justify-content-center" href="about.html">About</a></li></h3>
                </div>
            </div>
        </div>
        @*<div class="container">
            <div class="row">
                <div class="span4"></div>
                <div class="span4">
                    <a href="findyournextread.html">
                        <img class="center-block" src="../../FindBooks.jpg" />
                </div>
                </a>
                <div class="span4"></div>
            </div>
        </div>*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; <style="text-color: bisque">
                2023 - The Pocket Librarian -
            </style>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

